{% include 'inc/header.html' %}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Inventory</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="/">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="/">Product</a>
                        </li>
                        <li class="breadcrumb-item active"> Add Product
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Add Product -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Add</strong> Movement</h2>
                    </div>
                    <div class="body">
                        <form id="formAddMovement" method="POST">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="">Product Name</label>
                                    <div class="form-group default-select select2Style">
                                        <select name="prod_name" id="prod_name" class="form-control select2">
                                            <option selected disabled data-id="0">Select Product</option>
                                            {% for row in prod %}
                                            <option data-id="{{ row['_id'] }}">{{ row['prod_name'] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                </div>
                            </div>
                            {{loc}}<br>
                            {{prod}}
                            {% for i in prod %}
                            {{ i['prod_name'] }}
                            {% endfor %}
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="">From Location</label>
                                    <div class="form-group default-select select2Style">
                                        <select name="from_loc_name" id="from_loc_name" class="form-control select2">
                                            <option selected disabled>Select Location</option>
                                            {% for row in loca %}
                                            <option data-id="{{ row['_id'] }}">{{ row['location_name'] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>
                            </div>


                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="">Product Price</label>
                                    <input type="number" class="form-control" name="Price" id="Price" maxlength="8"
                                        minlength="1" min="1" required />
                                </div>
                                <div class="help-info">Price only</div>
                            </div>

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="">Product Quantity</label>

                                    <input type="number" class="form-control" name="Avail_Qua" id="Avail_Qua"
                                        maxlength="8" minlength="1" min="0" required />

                                </div>
                                <div class="help-info"></div>
                            </div>

                            <button class="btn btn-primary waves-effect" type="submit" id="add-product"
                                name="add-product" value="SUBMIT">
                                SUBMIT
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Vertical Layout -->
    </div>
</section>

{% include 'inc/footer.html' %}